body {
  max-width: 1000px;
  min-width: 320px;
  margin: 0px;
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Arial ,sans-serif;
}

#sidebar {
  width: 100%;
  height: 50px;
  position: relative;
  background-color: white;
}

#sidebar a {
  text-decoration: none;
  color: black;
  padding: 14px 10px;
  font-size: 80%;
}

#menuleft {
  position: absolute;
  left: 0px;
  top: 10px;
  padding-left: 40px;
}

#menuright {
  position: absolute;
  right: 0px;
  top: 10px;
  padding-right: 40px;
}

#banner {
  width: 100%;
}

#banner h1 {
  padding-top: 10%;
  padding-left: 10%;
  margin: 0px;
  font-size: 300%;
  font-family: Times;
}

#middle h1 {
  margin: 0px;
  padding-top: 30px;
}

.paddingleft {
  padding-left: 10%;
}

.padding {
  padding: 7.5% 3.25% 0% 3.25%;
}

#clear {
  clear: both;
}

.col-4 img {
  width: 100%;
}

section {
  background-color: #efefef;
}

footer .padding {
  background-color: #f7f7f7;
  padding-bottom: 20px;
}

[class*="col-"] {
  width: 100%;
  float: left;
}

@media only screen and (max-width: 767px) { 
    #banner {background-image: url(img/banner.png);width: 100%;height: 391px;background-size:100% 100%;color: white;}
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #banner {background-image: url(img/banner.png);width: 100%;height: 391px;background-size:100% 100%;color: white;}
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 992px) {
    #banner {background-image: url(img/banner.png);width: 100%;height: 391px;background-size:100% 100%;color: white;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}